
/* Estilos del contenido principal */
main {
    max-width: 900px;
    text-align: center; /* Centra el texto dentro del main */
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #f4f4f4;
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1#titulo {
        font-size: 2.5rem;
    }

    li.cajaEnlace {
        padding: 10px 15px;
    }

    p {
        font-size: 1rem;
    }
}