/* ficha de fótografo */

/* --------------- estructura principal --------------- */

#div_crear {
    width: 900px;
    margin: 0px auto;
    text-align: center;
}

#container {
    width: 900px;
    margin: 0px auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

#enlaceCrear {
    width: 900px;
    margin: 0px auto;
    text-align: center;
}

.div_ficha{
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-color: rgb(231, 200, 154);
    /* border: 5px solid white;; */
}

.div_ficha:hover {    
    background-color: rgb(243, 241, 171);
}

.div_ficha_arriba {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.enlace_ficha_cliente {
    text-decoration: none;
    color: black;
}

/* -------------------- contenido div izquierda -------------------------- */

#fichaClienteIzquierda {
    text-align: center;
    align-self: center;
}

.div_img {
    width: 150px;
    height: 120px;
    margin: 30px auto;
}


/* --------------------- contenido div derecha ---------------------------- */

#divDerechaInfo {
    margin-top: 35px;
    margin-left: 30px;
    padding-left: 10px;
    border-left: 2px solid whitesmoke;
    margin-bottom: 30px;
}

.titleNom {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 18px;
}

.detalleCliente {
    margin: 0px;
    font-size: 18px;
    margin-bottom: 10px;
}

/* ---------------------------- contenido div abajo -------------------------- */

#fichaClienteAbajo {
    display: flex;
    justify-content: space-around;
}

.enlaceVista {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.imgIcono {
    width: 30px;
    height: 30px;
    text-align: center;
}
