#container {
    width: 900px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#nav_perfil {
    width: 200px;
}

#contenido1 {
    display: block;
    width: 700px;
    margin: 0px auto;
} 

#contenido2, #contenido3, #contenido4 {
    display: none;
    width: 700px;
    margin: 0px auto;
}

/* navegación del perfil */

#nav_contenido {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.nav_enlace{
    padding: 20px 30px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgb(44, 107, 44);
}

.nav_enlace {
    background-color: rgb(96, 153, 96);
}

/* --------------------------------------------------------- VER y EDITAR PERFIL ------------------------------------------------------- */

/* datos del perfil */

#contenido_perfil, #contenido_editar {
    width: 500px;
    margin: 0px auto;
    background-color: rgb(67, 64, 64);
    border-radius: 5px;
}

/* div de arriba */

#div_arriba_titulo {
    text-align: center;
}

#titulo_registrar{
    padding-top: 20px;
}

/* div del medio */

#div_txtbox_nombre {
    display: flex;
    justify-content: left;
}

.div_input {
    margin-left: 30px;
    margin-bottom: 20px;
}

input {
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
    padding-left: 3px;
    width: 200px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: #333;
    color: white;
    display: block;
}

.titulo_txtbox {
    display: inline-block;
    margin: 0px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

/* div de abajo */

#tipo_calle {
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: #333;
    display: inline; 
    color: white;
}

#calle {
    display: inline;
}

#label_calle {
    display: block;
    margin-bottom: 20px;
    color: rgb(189, 185, 185);
}

/* boton recordar */

#recordar {
    width: 15px;
    height: 15px;
    display: inline;
}

#label_recordar {
    display: inline;
}

/* boton submit */

#div_btn_submit, #div_btn_submitPass {
    width: 100px;
    margin: 20px 75% 0%;
    padding-bottom: 30px;
}

#btn_submit, #btn_submitPass {
    background-color: rgb(33, 122, 142);
    color: white;
    width: 100px;
}

#btn_submit:hover, #btn_submitPass:hover {
    background-color: rgb(91, 161, 177);
    color: white;
}

/* ------------------------------------------- CAMBIAR CONTRASEÑA ---------------------------------------------- */

#ficha_cambiarPass {
    width: 500px;
    margin: 0px auto;
    margin-top: 100px;
    background-color: rgb(67, 64, 64);
    border-radius: 5px;
    padding: 30px;
    border-radius: 10px;
}

/* parte izquierda */

.header_pass {
    margin: 0px;
    text-align: center;
}

/* ------------------------------------- eliminar ------------------------------ */

#ficha_eliminar {
    width: 500px;
    margin: 0px auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: rgb(67, 64, 64);
    text-align: center;
    border-radius: 5px;
}

#titulo_eliminar {
    font-size: 20px;
    padding-bottom: 40px;
}

.btn_ficha_eliminar {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

#btnEliminar {
    background-color: rgb(220, 53, 69);
    color: whitesmoke;
}

#btnEliminar:hover {
    background-color: whitesmoke;
    color: rgb(220, 53, 69);
}

#btnVolver {
    background-color: rgb(108, 117, 125);
    color: whitesmoke;
}

#btnVolver:hover {
    background-color: whitesmoke;
    color: rgb(108, 117, 125);
}
